<!-- PROJECT HEAD -->
<div class="iapp-head-wrap">
    <h2 class="iapp-page-header">Top 10 theathers, restaurants and hotels to experience broadway like a pro.</h2>
    <p class="iapp-page-chatter">Use our interactive map to explore the best places of the theater district.</p>
</div>


<!-- MAIN CONTENT -->
<div class='main-content-wrap'>

    <div id='map'></div>

</div>


<!-- FOOTER -->
<div class='iapp-footer-wrap cf'>
        <!-- CREDITS LIST  -->
        <h6><strong>Credits:</strong> By Allen, Denny Gainer, Laura Petrecca and Mitchell Thorson, USA TODAY</h6>
</div>


