<div class="iapp-key-entry">
    <img class="iapp-key-img" src="http://www.gannett-cdn.com/experiments/usatoday/2015/05/broadway/images/theatre_loop.gif" alt="Theater">
    <span class="iapp-key-label">Theaters</span>
</div>
<div class="iapp-key-entry">
    <img class="iapp-key-img" src="http://www.gannett-cdn.com/experiments/usatoday/2015/05/broadway/images/bell_loop.gif" alt="Hotel">
    <span class="iapp-key-label">Hotels</span>
</div>
<div class="iapp-key-entry">
    <img class="iapp-key-img" src="http://www.gannett-cdn.com/experiments/usatoday/2015/05/broadway/images/wine_loop.gif" alt="Restaurant">
    <span class="iapp-key-label">Restaurants</span>
</div>
