<div class="social">
    <a class="tshare social-popup" href="https://twitter.com/intent/tweet?url=<%=twitterShare%>&text=<%=encodedShare%>"><img class="social-icon" src="http://www.gannett-cdn.com/experiments/usatoday/2015/05/broadway/images/twitter.svg" alt="Share"  border="0"></a>
    <a class="eshare " href="<%=email_link%>" ><img src="http://www.gannett-cdn.com/experiments/usatoday/2015/05/broadway/images/email.svg" alt="Share"  class="social-icon" border="0"></a>
    <a class="fbshare social-popup" href="https://www.facebook.com/dialog/feed?display=popup&app_id=<%=fb_id%>&link=<%=fbShare%>&picture=<%=stillimage%>&name=&description=<%=encodedShare%>&redirect_uri=<%=fb_redirect%>"><img src="http://www.gannett-cdn.com/experiments/usatoday/2015/05/broadway/images/fb.svg" class="social-icon" alt="Share"  border="0"></a>
</div>
