.iapp-panel {
    background-color: white;
    color: $medium-grey;
    height: 100%;
    left: 0;
    // max-width: 800px;
    overflow-y: auto;
    padding: 2em;
    position: fixed;
    top: 0;
    transform: translate(100%, 0);
    transition: transform 250ms ease;
    width: 100%;
    z-index: 2000;

    &.iapp-show {
        transform: translate(0, 0);
    }

    @media (max-width: 600px) {
        padding: 3.5em 2em;
    }
}

.iapp-detail-close-button {
    cursor: pointer;
    right: 10px;
    position: absolute;
    top: 10px;
    width: 40px;
    img {
        width: 100%;
    }
}

.iapp-detail-wrap {
    max-width: 400px;
    margin: 0 auto;
}

.iapp-detail-image {
    width: 100%;
}

.iapp-detail-info {
    margin-bottom: 0.25em;
    margin-top: 0.25em;
}

.iapp-detail-title {
    margin-bottom: 0.5em;
}
