/************

Fonts

************/


@font-face {
    font-family: 'Futura Today Normal';
    src: url(http://usatoday30.usatoday.com/_common/_fonts/futura_today_normal.eot);
    src: url(http://usatoday30.usatoday.com/_common/_fonts/futura_today_normal.eot?#iefix) format('embedded-opentype'), url(http://usatoday30.usatoday.com/_common/_fonts/futura_today_normal.ttf) format('truetype'), url(http://www.usatoday30.usatoday.com/_common/_fonts/futura_bold-webfont.svg#FuturaBold) format('svg');
    font-style: normal;
}

@font-face {
    font-family: 'Futura Today Light';
    src: url(http://usatoday30.usatoday.com/_common/_fonts/futura_today_light.eot);
    src: url(http://usatoday30.usatoday.com/_common/_fonts/futura_today_light.eot?#iefix) format('embedded-opentype'), url(http://usatoday30.usatoday.com/_common/_fonts/futura_today_light.woff) format('woff'), url(http://usatoday30.usatoday.com/_common/_fonts/futura_today_light.ttf) format('truetype'), url(http://usatoday30.usatoday.com/_common/_fonts/futura_light-webfont.svg#FuturaLight) format('svg');
    font-style: normal;
}

@font-face {
    font-family: 'Futura Today DemiBold';
    src: url(http://usatoday30.usatoday.com/_common/_fonts/futura_today_demibold.eot);
    src: url(http://wusatoday30.usatoday.com/_common/_fonts/futura_today_demibold.eot?#iefix) format('embedded-opentype'), url(http://usatoday30.usatoday.com/_fonts/futura_today_demibold.woff) format('woff'), url(http://usatoday30.usatoday.com/_common/_fonts/futura_today_demibold.ttf) format('truetype'), url(http://usatoday30.usatoday.com/_common/_fonts/futura_bold-webfont.svg#FuturaDemiBold) format('svg');
    font-style: normal;
}

@font-face {
    font-family: 'Futura Today Bold';
    src: url(http://usatoday30.usatoday.com/_common/_fonts/futura_today_bold.eot);
    src: url(usatoday30.usatoday.com/_fonts/futura_today_bold.eot?#iefix) format('embedded-opentype'), url(http://usatoday30.usatoday.com/_common/_fonts/futura_today_bold.woff) format('woff'), url(http://usatoday30.usatoday.com/_common/_fonts/futura_today_bold.ttf) format('truetype'), url(http://usatoday30.usatoday.com/_common/_fonts/futura_bold-webfont.svg#FuturaBold) format('svg');
    font-style: normal;
}